*{
    box-sizing:border-box;
}

/* Colors*/
header{
    background-color:red;
    color:white;
}
aside{
    background-color:green;
    color:white;
}
main{
    background-color:blue;
    color:white;
}
footer{
    background-color:yellow;


}

/* Layout */
aside{
    width:40%;
    color:white;
}
main{
    width:60%;
    color:white;
}

aside, main{
    float:left;
}

aside,main,footer,header{
    padding:30px;
}
footer{
    clear:both;
}

@media screen and (max-width:640px){
    aside,main{
        width:100%;
    }
}